*{
    margin: 0px;
    padding: 0px;
}

:root{
    /*colors*/
    --primary: #1f3e72;
    --secundary: #6d7b93;
    --button: #3454d2;
    --title: #3454d2;
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.918);
    position: fixed;
    padding: 20px 60px 20px 60px;
    box-sizing: border-box;
    z-index: 4;
}
    header h2{
        color: var(--title);
    }

    nav{
        width: 60%;
        height: 100%;
        /* background-color: blue; */
    }

    nav ul{
        display: flex;
        height: 100%;
    }

    .menu{
        width: 20%;
        height: 30px;
        height: 100%;
        text-align: center;
        list-style: none;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .menu:hover{
            cursor: pointer;
            background-color: #4765dd;
            color: white;
            border-radius: 5px;
        }

        .menu a{
            text-decoration: none;
            color: var(--secundary);
            font-size: 16px;
            font-weight: 900;
        }
    
    .button-menu {
        border-radius: 5px;
        background-color: var(--button);
    }
        .button-menu a{
            color: white;
            font-weight: 600;
        }

.landing-page{
    width: 100%;
    height: 630px;
    background-color: #f0f2f57c;
    display: flex;
}

    .div-information-left{
        width: 50%;
        height: 100%;
        /* background-color: aliceblue; */
    }

    .information-landing-page{
        width: 100%;
        /* background-color: brown; */
        position: relative;
        float: left;
        margin-top: 120px;
        margin-left: 60px;
    }

        .information-landing-page h1{
            font-size: 70px;
            color: var(--primary);
            margin-bottom: 16px;
        }

        .p-landingpage{
            font-size: 22px;
            color: var(--secundary);
            font-weight: 500;
        }
    
    .container-icons-yellow{
        margin-left: 60px;
        margin-top: 30px;
    }

    .color-blue{
        color: var(--primary);
        font-weight: 600;
    }

    .container-icon-information{
        /* width: 200px; */
        /* background-color: #1E3D71; */
        display: flex;
        align-items: center;
        position: relative;
        float: left;
    }

        .icon{
            width: 26px;
            height: 30px;
            /* background-color: yellow; */
            margin-right: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
        }

        .icon-color-blue{
            background-color: rgba(39, 71, 197, 0.2);
        }

        .icon-color-yellow{
            background-color: rgba(255, 208, 18, 0.2);
        }

            .icon img{
                width: 20px;
                height: 20px;
            }

    .container-vaccinations{
        width: 140%;
        position: relative;
        float: left;
        margin-left: 60px;
        /* background-color: aqua; */
        margin-top: 8%;
        z-index: 3;
    }

        .size-p{
            font-size: 18px;
            font-weight: bold;
        }
        .schedule-vaccinations{
            width: 100%;
            height: 100px;
            background-color: rgba(255, 255, 255, 0.89);
            position: relative;
            float: left;
            padding: 20px 30px 20px 30px;
            box-sizing: border-box;
            display: flex;
        }
            .information-schedule-vaccinations{
                width: 25%;
                height: 100%;
                /* background-color: #697790; */
            }

                .schedule-icon{
                    width: 100%;
                    align-items: center;
                }

                .data-schedule{
                    margin-left: 46px;
                    /* color: var(--secundary); */
                    font-weight: bold;
                }

                .container-button{
                   display: flex;
                   align-items: center;
                   justify-content: center;
                }

                .button{
                    width: 100px;
                    border-radius: 4px;
                    padding: 10px;
                    background-color: var(--button);
                    color: white;
                    border-style: none;
                    cursor: pointer;
                }
    #img-landing-page{
        width: 50%;
        height: 100%;
        z-index: 2;
    }

.section-imgs-logo{
    width: 100%;
    /* height: 120px; */
    background-color: #f0f2f57c;
    padding: 20px;
    box-sizing: border-box;
    display: inline-flex;
}

    .container-img-logo{
        width: 25%;
        height: 80px;
        /* background-color: grey; */
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .container-img-logo img{
            width: 150px;
            height: 100%;
        }

.section-vaccine{
    width: 100%;
    /* background-color: #1f3e72; */
    background-color: #f0f2f57c;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;
    padding-top: 32px;
    box-sizing: border-box;
    /* height: 300px; */
    /* position: absolute; */
}

    .title{
        font-size: 34px;
        color: var(--primary);
        margin-bottom: 16px;
    }

    .section-vaccine p{
        color: var(--secundary);
        font-size: 16px;
        line-height: 25px;
    }
    .container-cards{
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        flex-wrap: wrap;
        /* background-color: rebeccapurple; */
        margin-top: 36px;
    }
    
    
        .card-benefits{
            width: 250px;
            height: 260px;
            border-radius: 5px;
            padding: 16px;
            box-sizing: border-box;
            background-color: white;
            border: 1px solid #f0f2f5dc;
            margin-bottom: 20px;
        }

            .card-benefits h2{
                color: var(--primary);
                margin-bottom: 10px;
            }

            .card-benefits p{
                color: var(--secundary);
                font-weight: 500;
            }

            .card-img{
                width: 40px;
                height: 40px;
                background-color: rgba(39, 71, 197, 0.2);
                border-radius: 8px;
                margin-bottom: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
            }   

                .card-img img{
                    width: 20;
                    height: 20px;
                }

.section-before-vaccine{
    width: 100%;
    background-color: #f0f2f57c;
    /* position: absolute; */
}

    .container-img{
        width: 45%;
        height: 600px;
        /* position: absolute; */
        position: relative;
        float: left;
    }
        .container-white{
            width: 100%;
            height: 250px;
            background-color: white;
        }
        .container-blue{
            width: 100%;
            height: 350px;
            background-color: #2377df;
        }

        .img-white-blue{
            width: 100%;
            height: 500px;
            position: relative;
            z-index: 2;
            /* float: left; */
            margin-top: 100px;
        }
    
    .container-before-information{
        width: 55%;
        height: 600px;
        /* background-color: yellow; */
        position: relative;
        float: left;
        padding: 60px;
        box-sizing: border-box;
    }

        .container-before-information h1{
            font-size: 36px;
            color: var(--primary);
            margin-bottom: 16px;
        }

        .container-before-information p{
            font-size: 20px;
            text-align: justify;
            color: var(--secundary);
            margin-bottom: 16px;
        }

        .container-info-list{
            width: 70%;
            padding: 14px 20px 14px 20px;
            box-sizing: border-box;
            /* height: 50px; */
            background-color: blue;
            display: flex;
            align-items: center;
        }

            .icon-list-info{
                width: 20px;
                height: 20px;
                background-color: yellow;
            }

footer{
    width: 100%;
    height: 150px;
    background-color: #aeb3bed5;
    position: relative;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

/* .section-vaccine h1{
    margin-top: 32px;
} */
.square{
    width: 100px;
    height: 100px;
    background-color: rgba(128, 128, 128, 0.284);
    transform: rotate(45deg);
    position: absolute;
}

    .square-first{
        left: 20px;
    }

    .square-two{
        top: 370px;
        left: 47%;
    }

    .square-three{
        left: 97%;
    }